h1 {
	color: #000;
}

hr {
	margin-top: 34px;
	width: 800px;
	border-top: 5px solid #000;
}

.navbar-brand {
	padding: 0 15px;
}

.jumbotron {
	padding-bottom: 0;
	margin-bottom: 0;
}

.jumbo-img {
	background-image: url("../images/Logo_images/City.jpg");
	background-size: cover;
	background-attachment: fixed;
	padding-bottom: 300px;
}

.vans {
	background-color: #D7DE3B;
	padding: 0px;
	text-align: center;
	display: block;
}

.vans h1 {
	font-size: 68px;
	margin-top: 0;
	margin-bottom: 0;
}

.vans .col-md-4 {
	overflow: hidden;
	padding: 0;
}