


h1 {
	color: #000;
	text-transform: uppercase;
}

hr {
	margin-top: 116px;
	width: 800px;
	border-top: 5px solid #000;
}

p {
	text-transform: uppercase;
}

.btn {
	border-radius: 40px;
	background-color: #D7DE3B;
	color: #000;
	border: 0px;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 18px;
}

.btn:active {
	background-color: #D7DE3B;
}

.navbar-brand {
	padding: 0 15px;
}

.navbar-brand img {
	height: 50px;
}

.fa-stack {
	width: 40px;
	height: 40px;
	line-height: 40px;
}

.fa-stack-2x {
	color: #fff;
	font-size: 40px;
}

.fa-stack-1x {
	color: #000;
}

.jumbotron {
	padding-bottom: 0;
	margin-bottom: 0;
}

.jumbo-img {
	background-image: url("../images/Logo_images/City.jpg");
	background-size: cover;
	background-attachment: fixed;
	padding-bottom: 100px;
}

.jumbo-img p {
	padding-top: 40px;
	padding-bottom: 50px;
	color: white;
	text-decoration: none;
	text-align: center;
}

.jumbo-img a { 
	color: inherit; 
} 

.jumbo-img h3 {
	color: #D7DE3B;
}

.boxes {
	text-align: center;
	color: #D7DE3B;
	background-color: #2b2f33;
	
	opacity: 0.85;
}

.boxes form {
	color: #2b2f33;
}

.reserve {
	border: 10px;
	border-color: #D7DE3B;
}

.header {
	background-color: #D7DE3B;
	padding: 0px;
	text-align: center;
	display: block;
}

.header h1 {
	font-size: 68px;
	margin: 80px 0;
}

.header .col-xs-4 {
	overflow: hidden;
	padding: 0;
}

.row .col-xs-2 {
		width: 33.33333333%;
	}

.product img {
	margin: 30px 0;
}

.product {
	text-align: center;
}

.product img {
	height: 140px;
	width: initial;
}

.specs {
	margin-top: 25px;
}

@media (min-width: 786px) {
	.navbar-brand img {
		height: 70px;
	}
}

@media (min-width: 992px) {
	.row .col-xs-4 {
		width: 40%;
	}

	.row .col-xs-2 {
		width: 20%;
	}

}